# Set the registry for npm packages
registry=https://registry.npmjs.org/

# Set the cache directory for npm packages
cache=${HOME}/.npm-cache

# Set the registry for pnpm packages
pnpm-registry=https://registry.npmjs.org/

# Set the cache directory for pnpm packages
store-dir=${HOME}/.pnpm-store

# Use strict SSL for both npm and pnpm
strict-ssl=true

# Set the token for accessing private npm packages (replace YOUR_AUTH_TOKEN with your actual token)
#registry.npmjs.org/:_authToken=YOUR_AUTH_TOKEN
